<h1 mat-dialog-title><b>Ajouter une nouvelle carte de visite</b></h1>
<mat-dialog-content>
  <form class="example-form" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label for="research_unit_id">Unite de recherche</mat-label>
      <mat-select formControlName="research_unit_id" id="research_unit_id">
      @for (unit of ResearchList; track unit){
        <mat-option  [value]="unit.id">{{ unit.title }}</mat-option>
      }              
      </mat-select>      
      @if (f['research_unit_id'].hasError('required')) {
      <mat-error>L'unite de recherche <strong>est requise</strong></mat-error>
      }
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label for="job_title">Fonction</mat-label>
      <input matInput formControlName="job_title" id="job_title" />
      @if (f['job_title'].hasError('required')) {
      <mat-error>La fonction <strong>est requise</strong></mat-error>
      }
    </mat-form-field>

    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label for="mobile">Mobile </mat-label>
        <input matInput formControlName="mobile" id="mobile" />
        <!-- <mat-hint>Sous texte</mat-hint> -->
        <!-- @if (f['email'].hasError('email') && !email.hasError('required')) {
          <mat-error>Veuillez entrer un mail valide</mat-error>
        } -->
        @if (f['mobile'].hasError('required')) {
        <mat-error>Le mobile <strong>est requis</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label for="fix">Fixe</mat-label>
        <input matInput formControlName="fix" id="fix" />
        @if (f['fix'].hasError('required')) {
        <mat-error>Le fixe <strong>est requis</strong></mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label for="address">Addresse</mat-label>
      <input matInput formControlName="address" id="address" />
      @if (f['address'].hasError('required')) {
      <mat-error>Le fixe <strong>est requis</strong></mat-error>
      }
    </mat-form-field>

    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label for="zip_code">Code postal</mat-label>
        <input matInput formControlName="zip_code" id="zip_code"/>
        @if (f['zip_code'].hasError('required')) {
        <mat-error>Le fixe <strong>est requis</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label for="city">Ville</mat-label>
        <input matInput formControlName="city" id="city"/>
        @if (f['city'].hasError('required')) {
        <mat-error>Le fixe <strong>est requis</strong></mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label for="logo">Logo</mat-label>
      <input matInput id="logo" />
    </mat-form-field>

    <mat-form-field class="">
      <mat-label for="description">Desription</mat-label>
      <textarea
        matInput
        placeholder="Ex. It makes me feel..."
        rows="5"
        formControlName="description"
        id="description"
      ></textarea>
    </mat-form-field>

    <mat-dialog-actions>
      <button
        mat-raised-button
        cdkFocusInitial
        type="submit"
        style="background-color: #b51621; color: #ffffff; width: 100%"
      >
        Ajouter la carte
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>

