* {
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4285743;
    color: #4b575f;
    background-color: #fff;
    margin: 0;
    height: 100%;
    position: relative;
    min-height: 100vh;
  }
  .justify {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
    height: 20%;
    margin-bottom: 1%;
  }
  .foot {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }
  
  .container {
    margin-bottom: 5%;
    height: max-content;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .bg-primary,
  .brand-primary {
    background-color: #b51621;
    fill: #b51621;
  }
  
  .mat-card {
    width: 500px; 
    flex-direction: column;
  }
  
  .mat-card-title {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .mat-card-title h2{
    margin: 0;
  }
  