<body>
  <div>
    <app-header></app-header>
    <div class="container justify">
      <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bonjour {{ userInfo.user.name }}</h1>
      <div class="row">
        <div *ngFor="let card of listCarte">
          <div class="card" >
            <mat-card class="mat-card">
              <mat-card-content>
                <mat-card-title class="mat-card-title">
                  <h2>
                    <b>{{ card.research_unit[0].acronym }} </b>
                  </h2>
                  FR
                </mat-card-title>
                <mat-card-subtitle>
                  {{ card.research_unit[0].title }}
                </mat-card-subtitle>
  
                <p>
                  {{ card.job_title }} 
                </p>
                <p>Partagez cette carte avec:</p>
              </mat-card-content>
              <mat-card-actions style="gap: 15px">
                <button
                  mat-raised-button
                  style="background-color: #b51621; color: #ffffff; width: 100%"
                  (click)="opencontact('0ms', '0ms', card.id)"
                >
                  QR Code de Contact
                </button>
                <button
                  mat-raised-button
                  style="background-color: #b51621; color: #ffffff; width: 100%"
                  (click)="openprofil('0ms', '0ms', card.id)"
                >
                  QR Code de Profil
                </button>
              </mat-card-actions>
              <mat-card-actions
                style="display: flex; justify-content: space-between"
              >
                <div>
                  <button 
                  (click)="changePage(card.id)"
                  mat-button><mat-icon>visibility</mat-icon></button>
                  |
                  <button mat-button (click)="openUpdate('0ms', '0ms', card.id)" ><mat-icon>create</mat-icon></button>
                  |
                  <button (click)="deletecard(card.id)" mat-button style="color: #b51621"> <mat-icon>delete_forever</mat-icon></button>
                </div>
                
                <p>{{ card.views }} vues</p>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>

        <!-- availableCardsNumber retourne FAUX (4-4) si nous n'avons plus d'espace vide soit 4 cartes déjà créées -->
        <div class="card" *ngIf="availableCardsNumber">
          <mat-card class="mat-card">
            <mat-card-content>
              <mat-card-title class="mat-card-title">
                <h2>
                  <b>{{ poste }} </b>
                </h2>
              </mat-card-title>
              <mat-card-subtitle>
                {{ defpost }}
              </mat-card-subtitle>

              <p>
                {{ text1poste }} <br />
                {{ text2poste }}
              </p>
              <p>Ajouter une carte</p>
            </mat-card-content>
            <mat-card-actions style="justify-content: space-between">
              <button
                mat-raised-button
                style="background-color: #b51621; color: #ffffff; width: 100%"
                (click)="openDialog('0ms', '0ms')"
              >
                +
              </button>
            </mat-card-actions>
            <mat-card-actions>
              <p>
                Il vous reste <b>{{ availableCardsNumber }} emplacement(s)</b> vide dans votre porte carte
              </p>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: black">
    <app-footer></app-footer>
  </div>
  
</body>
