
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4285743;
    color: #4b575f;
    background-color: #fff;
    margin: 0;
    height: 100%;
    position: relative;
    min-height: 100vh;
  }
  