<div class="container">
  <div class="card">
    <div style="padding: 20px;">
        <span  *ngFor="let card of listCarte" style="font-size: 1.7rem; font-weight: 600; padding: 20px">
            <p>{{ card.research_unit[0].title }}</p>
          </span>
          <div
            style="
              display: inline-block;
              position: relative;
              width: 50px;
              margin-top: 0px;
              padding-bottom: 11.9284%;
              vertical-align: top;
            "
          >
            <svg 
              preserveAspectRatio="xMinYMin meet"
              viewBox="0 0 503 60"
              style="
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 300%;
                max-width: 300%;
                height: 300%;
              "
            >
              <g>
                <rect
                  opacity="0.3"
                  x="0"
                  y="0"
                  width="142px"
                  height="60"
                  rx="6"
                  [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
                <rect
                  opacity="0.5"
                  x="106"
                  y="0"
                  width="119px"
                  height="60"
                  rx="6"
                  [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
                <rect
                  opacity="0.6"
                  x="207"
                  y="0"
                  width="84px"
                  height="60"
                  rx="6"
                  [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
                <rect
                  opacity="0.7"
                  x="308"
                  y="0"
                  width="61px"
                  height="60"
                  rx="6"
                  [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
                <rect
                  opacity="0.8"
                  x="390"
                  y="0"
                  width="29px"
                  height="60"
                  rx="6"
                  [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
                <rect
                  x="446"
                  y="0"
                  width="15px"
                  height="60"
                  rx="4"
                  [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
                <rect
                  x="495"
                  y="0"
                  width="8px"
                  height="60"
                  rx="2"
                [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
              </g>
            </svg>
          </div>
          <br />
      
          <span style="font-size: 1.5rem; font-weight: 600"> {{QRInfo.user[0].name}}</span>
          <br />
          <span> {{QRInfo.job_title}} </span>
      
          <div><h1></h1></div>
          <div
            style="
              display: inline-block;
              position: relative;
              width: 50px;
              margin-top: 0px;
              padding-bottom: 11.9284%;
              vertical-align: top;
            "
          >
            <svg
              preserveAspectRatio="xMinYMin meet"
              viewBox="0 0 503 60"
              style="
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                max-width: 100%;
                height: 100%;
              "
            >
              <g>
                <rect
                  opacity="0.3"
                  x="0"
                  y="0"
                  width="142px"
                  height="60"
                  rx="6"
                  [attr.fill] = "QRInfo.research_unit[0].color "

                ></rect>
                <rect
                  opacity="0.5"
                  x="106"
                  y="0"
                  width="119px"
                  height="60"
                  rx="6"
                  [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
                <rect
                  opacity="0.6"
                  x="207"
                  y="0"
                  width="84px"
                  height="60"
                  rx="6"
                  [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
                <rect
                  opacity="0.7"
                  x="308"
                  y="0"
                  width="61px"
                  height="60"
                  rx="6"
                  [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
                <rect
                  opacity="0.8"
                  x="390"
                  y="0"
                  width="29px"
                  height="60"
                  rx="6"
                  [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
                <rect
                  x="446"
                  y="0"
                  width="15px"
                  height="60"
                  rx="4"
                  [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
                <rect
                  x="495"
                  y="0"
                  width="8px"
                  height="60"
                  rx="2"
                  [attr.fill] = "QRInfo.research_unit[0].color "
                  ></rect>
              </g>
            </svg>
          </div>
          <br />
          <span style="font-size: 1.1rem; font-weight: 600"> LD : </span>
      
          <span> 05 55 45 72 00 </span>
          <br />
          <span style="font-size: 1.1rem; font-weight: 600"> C : </span>
      
          <span> {{QRInfo.user[0].email}} </span>
          <br />
          <br />
          <span> {{QRInfo.address}} </span>
          <br>
          <span>{{QRInfo.zip_code}} {{QRInfo.city}} </span>
          <br>
          <span style="font-size: 1.1rem; font-weight: 600"> T : </span>
      
          <span> {{QRInfo.mobile}} </span>
          <br />
          <span style="font-size: 1.1rem; font-weight: 600"> F : </span>
      
          <span> {{QRInfo.fix}} </span>

          <br /><br /><br />
          <span style="font-size: 1.1rem; font-weight: 600"> Description : </span><br />
      
          <span> {{QRInfo.description}} </span>
    </div>
    <br>
    <br>
    <br>
    <div style=" height: 19%; top: 10%;" [ngStyle]  = "{'background-color' : QRInfo.research_unit[0].color }"  >  
       

        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
            <div style="display: flex; flex-direction: row; padding: 20px;">
                <div style="display: inline-block; position: relative; width: 50px; margin-top: 0px; padding-bottom: 11.9284%; vertical-align: top;">
                    <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 503 60"
                        style="display: block; position: absolute; top: 0; left: 0; width: 100%; max-width: 100%; height: 100%">
                        <g>
                            <rect opacity="0.3" x="0" y="0" width="142px" height="60"
                                rx="6" class="bg-primary1"></rect>
                            <rect opacity="0.5" x="106" y="0" width="119px" height="60"
                                rx="6" class="bg-primary1"></rect>
                            <rect opacity="0.6" x="207" y="0" width="84px" height="60"
                                rx="6" class="bg-primary1"></rect>
                            <rect opacity="0.7" x="308" y="0" width="61px" height="60"
                                rx="6" class="bg-primary1"></rect>
                            <rect opacity="0.8" x="390" y="0" width="29px" height="60"
                                rx="6" class="bg-primary1"></rect>
                            <rect x="446" y="0" width="15px" height="60" rx="4"
                                class="bg-primary1"></rect>
                            <rect x="495" y="0" width="8px" height="60" rx="2"
                                class="bg-primary1"></rect>
                        </g>
                    </svg>
                </div>
            
                <span style="color: #ffffff;">unilim.fr</span>
            </div>

            <img src="/assets/img/UNILIM-logo-footer-100.png" style="height: 70px; margin-top:8%; margin-right: 4%; " alt="logo de l'université de limoges">
        </div>
       
    </div>
    
  </div>
  
</div>
<br><br><br>  