*{
    box-sizing: border-box;
}
body{
    display: block;
    margin-top: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-weight: 400;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4285743;
    color: #4b575f;
    background-color: #ffffff;
    margin: 0;    
}

.justify,.container{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
    height: 25%; 
    margin-bottom: 1%;   
}